---
title: zeg.ai
description: Deep Learning startup
image: http://i66.tinypic.com/nqel4i.png
bottom_image: https://source.unsplash.com/S_VbdMTsdiA/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Enabling the world to see in 3D</h1>
			<p class="subtext editable"> Zeg.AI is working on a proprietary technology for leveraging deep learning to create stunning 3D visualizations.</p>
			<div class="cta button alt"><a href="#learn-more">Explore</a></div>
		</div>
	</div>
<!-- 	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div> -->
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Bring 3D Objects to Life</h2>
				<p class="editable">Due to fundamental challenges in dealing with 3D representations, creating digital 3D objects is still hard, time consuming and requires specific skills. Thus, our focus at Zeg.ai is to democratise creation of 3D models deep learning. 

</p>
			</div>
			<div class="image">
				<a href="http://tinypic.com?ref=b9gnly" target="_blank"><img src="http://i64.tinypic.com/b9gnly.png" border="0"></a>
<!-- 				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" /> -->
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Seamless Object Export</h2>
				<p class="editable">We understand that sharing of your 3D creations is equally important for you. So whether you're building an app or showcasing your talent, we allow you to share your 3D models via a public link or .obj format. 

</p>
			</div>
			<div class="image">
				<a href="http://tinypic.com?ref=66yc7l" target="_blank"><img src="http://i67.tinypic.com/66yc7l.png" border="0"></a>
<!-- 				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" /> -->
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Realtime Object Creation</h2>
				<p class="editable">Our technology ensures that the 3D object creation happens in real-time so you don't have to wait to see and share your creations.

</p>
			</div>
			<div class="image">
				<a href="http://tinypic.com?ref=ncf2f7" target="_blank"><img src="http://i66.tinypic.com/ncf2f7.jpg" border="0"></a>
<!-- 				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" /> -->
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Create 3D model for your AR/VR application today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to generate 3D content for AR/VR. For more details, write to us at contact@zeg.ai</p>
				<div class="cta button alt"><a href="/contact/">Get In Touch</a></div>
			</div>
		</div>
	</section>
</div>
