---
title: zeg.ai
description: Deep Learning startup
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://source.unsplash.com/S_VbdMTsdiA/2000x1322?a=.png
---
<style>

</style>
<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Create beautiful 3D models for AR/VR</h1>
			<p class="subtext editable"> Zeg.AI is working on a core technology leveraging machine intelligence to create stunning 3D visualizations.</p>
			<div class="cta button alt"><a href="#">Explore</a></div>
		</div>
	</div>
<!-- 	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div> -->
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Bring 3D Objects to Life</h2>
				<p class="editable">Creating digital 3D objects is hard, time consuming and requires specific skills. Zeg.ai uses artificial intelligence to make creating 3D models easy, powerful, and fun</p>
			</div>
			<div class="image">
				<a href="http://tinypic.com?ref=b9gnly" target="_blank"><img src="http://i64.tinypic.com/b9gnly.png" border="0"></a>
<!-- 				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" /> -->
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Seamless Object Export</h2>
				<p class="editable">Wheather you're building your app or showcasing your talent, share your models via links or .obj format</p>
			</div>
			<div class="image">
				<a href="http://tinypic.com?ref=66yc7l" target="_blank"><img src="http://i67.tinypic.com/66yc7l.png" border="0"></a>
<!-- 				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" /> -->
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Realtime Object Creation</h2>
				<p class="editable">Best of all, the 3D object creation happens in real-time so you don't have to wait to see the results.</p>
			</div>
			<div class="image">
				<a href="http://tinypic.com?ref=ncf2f7" target="_blank"><img src="http://i66.tinypic.com/ncf2f7.jpg" border="0"></a>
<!-- 				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" /> -->
			</div>
		</div>
	</section>

	<!-- <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Create 3D model for your AR/VR application today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to generate 3D content for AR/VR.</p>
				<div class="cta button alt"><a href="#">Get In Touch</a></div>
			</div>
		</div>
	</section> -->

	
<section class "hero">
<div class="slideshow-container">
	<div class="mySlides fade">
		<div class="numbertext">1 / 3</div>
		<img src="images/img1.jpg" style="width:100%">
		<div class="text">Caption Text</div>
	</div>
<div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="images/img2.jpg" style="width:100%">
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="images/img3.jpg" style="width:100%">
    <div class="text">Caption Three</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
</section>
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
} 
</script>
</div>
