---
title: zeg.ai
description: Deep Learning startup
image: http://www.admad.mobi/flash/zeg/zeg.jpg
bottom_image: http://www.admad.mobi/flash/zeg/zeg-2.jpg
---




<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">

	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<p class="subtext editable"> ZEG.ai is developing a proprietary technology that automatically generates 3D content.</p> 
		<div class="cta button alt"><a href="#learn-more">Explore</a></div>
	</div>

	<iframe width="2000" height="400" src="https://www.youtube.com/embed/JVb_Ffh-q8I?rel=0&autoplay=1&mute=1" frameborder="0" 		allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
<!-- 	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div> -->
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Realise the Potential of VR and AR</h2>
				<p class="editable">3D content drives virtual and augmented reality. However, just like it was for the early internet, content creation for these platforms is out of the reach of the vast majority. We enable massive scale 3D content generation in VR and AR, powered by our deep learning technology.

</p>
			</div>

			<div class="image">
				<img src="http://i64.tinypic.com/2rxbka1.png" border="0"></a>
<!-- 				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" /> -->
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">A New Paradigm for Content Generation</h2>
				<p class="editable">Thanks to our technology we are able to offer a new paradigm for on-demand 3D content generation through a simple and flexible web-service. For the first time you can generate and display your 3D content with nothing to install or download for you or your customers.
</p>
			</div>

			<div class="image">
				<img src="http://i63.tinypic.com/4kdv6o.png" border="0"></a>
<!-- 				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" /> -->
			</div>
		</div>
	</section>


	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<p class="subtext editable">We're excited to show you more, contact us at contact@zeg.ai for more details or to arrange a demo.</p>
				<div class="cta button alt"><a href="/contact/">Get In Touch</a></div>
			</div>
		</div>
	</section>
</div>
